.insta-link {
  color: #00aced; /* 인스타그램의 하늘색 */
  text-decoration: none;
  transition: color 0.3s ease;
}

.insta-link:hover {
  color: #0077b5; /* 링크가 호버될 때 조금 더 진한 색으로 변경 */
}

.naver-link {
  color: #00a602; /* 인스타그램의 하늘색 */
  text-decoration: none;
  transition: color 0.3s ease;
}

.naver-link:hover {
  color: #008d05; /* 링크가 호버될 때 조금 더 진한 색으로 변경 */
}
